body{
    background-image: url(https://i.pinimg.com/originals/7d/e6/02/7de6022e13401987686f8e43543e2ca9.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}
#bod{
    display: inline-block;
}
#swipper {
height: 170px;
width: 190px;
position: absolute;
top: 10%;
left: 20%;
transform: translate(-50%, -50%);

}
#dora{
position: relative;
left: 900px;
top: 700px;
text-align: center;
height: 7px;
width: 8px;
cursor: help;

}
#doramol{
height: 140px;
width: 120px;
}
h1{
font-size: 20px;
font-weight: 900;
text-align: justify;
}
#callout-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    padding: 10px;
    border: 1px solid ;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#credits{
    position: relative;
    left: 1800px;
}
.namesList {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1;
}

.namesList a {
    display: block;
    margin: 10px 0;
}